/*Ul Li   ---------------------------------------------------------------------------*/
        Ul{list-style:none;cursor:pointer;left:-10%;}
        li{background-color:DarkGray;font-size:80%;padding-left:1%;padding-bottom:3px;}
 #GlobalUl{position:absolute;top:0%;left:-7%;width:100%;}
