
 div{position:absolute;}
 span{position:absolute;}
 li{list-style-type:none;padding:3px;}
 select
{
 position:absolute;
 cursor:pointer;
}

 a
{
 text-decoration:none;
 color:black;
 border-radius:4px;
 padding-bottom:2px;
 width:20%;
}

 #selIso
{
 right:1%;
 top:22%;
 width:41%;
}

 #imsg
{
 top:18%;
 left:0%;
 width:100%;
 color:#000000;
 text-align:center;
 display:none;
}

 #GranPeski
{
 position:absolute;
 right:0%;
 height:100%;
 width:auto;
}

 #leftPeski
{
 position:absolute;
 left:0%;
 height:100%;
 width:auto;
}
 
 #iPortret
{
 top:38%;
 left:50%;
 transform: translate(-50%, -50%);
 width:12%;
 height:25%;
 border-radius:50%; /* Установите радиус скругления равным 50%, чтобы сделать изображение круглым */
 overflow:hidden; /* Обрезать содержимое блока div, чтобы оно соответствовало скругленной форме */
}

 #AboutTxt
{
 top:26%;
 left:58%;
 width:37%;
 height:auto;
 background-color:#f2f2f2;
 padding:2%;
 color:gray; /* Цвет текста */
 font-family: "Times New Roman", Times, serif; /* Выбранный шрифт */
 font-size:133%; /* Размер шрифта */
 line-height:1.5; /* Межстрочный интервал */
}

 #icobw
{
 width:14%;
 height:14%;
 vertical-align:middle;
}

 #icoLink
{
 width:20%;
 height:auto;
 background-color:#cccccc;
 display:inline-block;  
 text-align:center;
}

 #hr{position:absolute;top:320%;}
 #ibastyon{background-color:#cccccc;}


 #selVidYouTube
{
 left:70%;
 top:30%;
}

 #weapons
{
 cursor:pointer;
 top:0%;
 left:0%;
 width:100%;
 height:22%;
 color:gray; /* Цвет текста */
 font-family: "Sans-serif"; /* Выбранный шрифт */
 color:#696969;
 font-size:260%; /* Размер шрифта */
 font-weight:bold;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color:#cccccc;
}

 #iWfuslTcl
{
 position:absolute;
 cursor:pointer;
 top:22%;
 left:0%;
 width:100%;
}

 #iWfuslTbw
{
 position:absolute;
 cursor:pointer;
 top:44%;
 left:0%;
 width:100%;
}

 #iWfuslLcl
{
 position:absolute;
 cursor:pointer;
 top:66%;
 left:0%;
 width:100%;
}

 #iWfuslLbw
{
 position:absolute;
 cursor:pointer;
 top:88%;
 left:0%;
 width:100%;
}

 #iWfuslGcl
{
 position:absolute;
 cursor:pointer;
 top:110%;
 left:0%;
 width:100%;
}

 #iWfuslGbv
{
 position:absolute;
 cursor:pointer;
 top:132%;
 left:0%;
 width:100%;
}
