 html
{
 background-image: url(../GrnUnivers/background.png);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
/* button */
 #GrnGrannik{opacity:1}
/*------------------------------------------------------------------*/
 div{cursor:pointer;border-radius:10%;text-align:center;}
/* div */
 #ila{position:absolute;left:0%;top: 4%;width:4%;height:8%;opacity:0.7;background-image:url(GrnGrannikIco.svg);}
 #ilb{position:absolute;left:0%;top:12%;width:4%;height:8%;opacity:0.7;background-image:url(GrnGrannikIco.svg);}
 #ilc{position:absolute;left:0%;top:20%;width:4%;height:8%;opacity:0.7;background-image:url(GrnGrannikIco.svg);}
 #ild{position:absolute;left:0%;top:28%;width:4%;height:8%;opacity:0.7;background-image:url(GrnGrannikIco.svg);}
 #ile{position:absolute;left:0%;top:36%;width:4%;height:8%;opacity:0.7;background-image:url(GrnGrannikIco.svg);}
 #ilf{position:absolute;left:0%;top:44%;width:4%;height:8%;background-color:white;background-image:url(solidarizm.svg);opacity:0.7;}
 #ilg{position:absolute;left:0%;top:52%;width:4%;height:8%;opacity:0.7;background-image:url(GrnGrannikIco.svg);}
 #ilh{position:absolute;left:0%;top:60%;width:4%;height:8%;opacity:0.7;background-image:url(GrnGrannikIco.svg);}
 #ili{position:absolute;left:0%;top:68%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ilj{position:absolute;left:0%;top:76%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ilk{position:absolute;left:0%;top:84%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ill{position:absolute;left:0%;top:92%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
/*div*/
 #ial{position:absolute;left:4%;top:4% ;width:4%;height:8%;background-color:white;opacity:0.7;background-image:url(netlify.svg);}
 #ibl{position:absolute;left:4%;top:12%;width:4%;height:8%;background-color:white;opacity:0.7;background-image:url(../GrnUnivers/github.svg);}
 #icl{position:absolute;left:4%;top:20%;width:4%;height:8%;background-color:white;opacity:0.7;background-image:url(neocities.svg);}
 #idl{position:absolute;left:4%;top:28%;width:4%;height:8%;background-color:white;opacity:0.7;background-image:url(surge.svg);}
 #iel{position:absolute;left:4%;top:36%;width:4%;height:8%;background-color:white;opacity:0.7;background-image:url(vercel.svg);}
 #ifl{position:absolute;left:4%;top:44%;width:4%;height:8%;background-color:MidnightBlue;padding:0px;color:white;font-weight:bold;font-size:45px;opacity:0.7;}
 #igl{position:absolute;left:4%;top:52%;width:4%;height:8%;background-color:white;opacity:0.7;background-image:url(nativefier.svg);}
 #ihl{position:absolute;left:4%;top:60%;width:4%;height:8%;background-color:#2f3242;opacity:0.7;background-image:url(electronjs.svg);}
 #iil{position:absolute;left:4%;top:68%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ijl{position:absolute;left:4%;top:76%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ikl{position:absolute;left:4%;top:84%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #iml{position:absolute;left:4%;top:92%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
/*div*/
 #ira{position:absolute;right:0%;top:4% ;width:4%;height:8%;opacity:0.7;background-image:url(../GrnGaryTabach/GrnGaryTabach14.svg);}
 #irb{position:absolute;right:0%;top:12%;width:4%;height:8%;opacity:0.7;background-image:url(../GrnElenaVasiljeva/ElenaVasiljevaIco064.svg);}
 #irc{position:absolute;right:0%;top:20%;width:4%;height:8%;opacity:0.7;background-image:url(../GrnGrannik/GrnGrannikNbW14.svg);}
 #ird{position:absolute;right:0%;top:28%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ire{position:absolute;right:0%;top:36%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #irf{position:absolute;right:0%;top:44%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #irg{position:absolute;right:0%;top:52%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #irh{position:absolute;right:0%;top:60%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #iri{position:absolute;right:0%;top:68%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #irj{position:absolute;right:0%;top:76%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #irk{position:absolute;right:0%;top:84%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #irl{position:absolute;right:0%;top:92%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
/*div*/
 #iar{position:absolute;right:4%;top:4% ;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ibr{position:absolute;right:4%;top:12%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #icr{position:absolute;right:4%;top:20%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #idr{position:absolute;right:4%;top:28%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ier{position:absolute;right:4%;top:36%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ifr{position:absolute;right:4%;top:44%;width:4%;height:8%;background-color:MidnightBlue;padding:0px;color:white;font-weight:bold;font-size:45px;opacity:0.7;}
 #igr{position:absolute;right:4%;top:52%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ihr{position:absolute;right:4%;top:60%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #iir{position:absolute;right:4%;top:68%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ijr{position:absolute;right:4%;top:76%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ikr{position:absolute;right:4%;top:84%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
 #ilr{position:absolute;right:4%;top:92%;width:4%;height:8%;background-color:MidnightBlue;opacity:0.7;}
/* ------------------------------------- */
 #GrnAutumnOverlay
{
 position: absolute;
 top:16%;
 left:50%;
 transform: translateX(-50%);
 width:65%;
 height:76%;
 opacity:0.6;
 border-radius:0%;
 background-color: rgba(47, 79, 79, 0.5);
}
 #GrnAutumn
{
 position: absolute;
 top:16%;
 left:50%;
 transform: translateX(-50%);
 width:65;
 height:76%;
 opacity:0.7;
}
 * {box-sizing: border-box}
 .mySlides {display: none}
/*--------------------------*/
 #slideshow-container
{
 position:absolute;
 top:16%;
 left:31%;
 opacity:1.0;
 width:auto;
 height:76%;
 background-color:transparent;
}
 /* Выцветание анимации */
 .fade
{
 opacity:1.0;
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 1.5s;
}
 @-webkit-keyframes fade
{
 from {opacity: .4} 
 to {opacity: 1}
}
 @keyframes fade
{
 from {opacity: .4} 
 to {opacity: 1}
}
/* Исчезающий блок */
 .image-container
{
 position:absolute;
 top:0%;
 left:31%;
 width:auto;
 height:100%;
}
 .image-container img
{
 position:absolute;
 top:0%;
 left:31%;
 width:auto;
 height:100%;
 transition: opacity 1.5s ease-in-out;
}
 .image-container img:hover
{
 opacity:0;
}
/* ------------------------------------- */
 #GrnPortr0480ASCII
{
 position:absolute;
 top:0%;
 left:31%;
 width:auto;
 height:100%;
}
 #GrannikASCII
{
 position:absolute;
 top:0%;
 left:31%;
 width:auto;
 height:100%;
}
/* --- docTime --- */
@keyframes flash
{
 0% { box-shadow: 0 0 10px #7608a8; }
 50% { box-shadow: 0 0 20px #7608a8; }
 100% { box-shadow: 0 0 10px #7608a8; }
}

 #docTime
{
 position:absolute;
 bottom:5%;
 left: 50%;
 transform: translateX(-50%) scaleX(0.95);
 height:3%;
 width:69%;
 font-size:110%;
 text-align:center;
 font-family: "Courier New", monospace;
 color:#c8ebfa;  
 background: linear-gradient(90deg, #2cf29f, #c8ebfa, #2cf29f);                            
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 text-shadow: 2px 2px 6px #8b0000;
 animation: flash 2s infinite;
}

 marquee
{
 position:absolute;
 top:12%;
 left:50%;
 width:69%;
 transform: translateX(-50%) scaleX(0.95);
 border-radius:0%;
 background: linear-gradient(90deg, #2cf29f, #c8ebfa, #2cf29f);                            
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 text-shadow: 2px 2px 6px #8b0000;
 animation: flash 2s infinite;
 font-size:140%;
 font-family: "Courier New", monospace;
 color:#c8ebfa;
}

