 html
{
 background-image:url(../SpaceStreetWM/SpaceStreetWMb.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
 #GrnGifSvg{opacity:1.0}
 div{opacity:0.7;}
 img{position:absolute;}
/*112q14*/
 #ila{background-image:url(../GrnUnivers/112q14.svg);}
 #ilb{background-image:url(../GrnUnivers/112q14.svg);}
 #ilc{background-image:url(../GrnUnivers/112q14.svg);}
 #ild{background-image:url(../GrnUnivers/112q14.svg);}
/**/
 #ira{background-color:#000000;background-image:url(photomosh.svg);}
 #irb{background-color:#000000;background-image:url(giphy.svg);}
 #irc{background-image:url(SpaceStreetGifA.svg);}
 #ird{background-color:#ffffff;background-image:url(tinypic.svg);}
 #ire{background-image:url(SpaceStreetGifB.svg);}

/* #iSpStGifA{left:7%;width:auto;height:100%;display:none;}
 #iSpStGifB{left:7%;width:auto;height:100%;display:none;}*/

 #i112qA{left:50%;top:50%;transform:translate(-50%, -50%);display:none;}
 #i112qB{left:50%;top:50%;transform:translate(-50%, -50%);display:none;}
 #i112qC{left:50%;top:50%;transform:translate(-50%, -50%);display:none;}
 #i112qD{left:50%;top:50%;transform:translate(-50%, -50%);display:none;}

 #iSpStGifA{left:8%;top:4%;width:auto;height:auto;background-color:transparent;display:none;}
 #iSpStGifB{left:8%;top:4%;width:auto;height:auto;background-color:transparent;display:none;}
